.ui {
    font-family: "Orbitron", sans-serif !important;
    font-weight: 200;
    font-style: normal;
    /* font-family: "Montserrat" !important; */
    color: #cccccc !important;
}

body {
    /* background-image: url('../assets//images//village.jpg'); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: #121212;
}

.customButton {
    margin: 0 10px 0 0 !important;
}

#landingPageDiv {
    padding: 0;
    margin-top: 80px;
    position: relative;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../assets//images//freedom.png");
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-bottom: 37.934668%;
    height: 0;
}

#landingPageContent {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#landingPageHeader {
    font-family: "Orbitron", sans-serif !important;
    color: white;
    font-weight: 600;
    font-size: 50px;
    margin: 30px 0;
}

#landingPageText {
    font-family: "Montserrat";
    color: white;
    margin: 30px 0;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    #landingPageDiv {
        position: relative;
        height: 100vh;
        padding-bottom: 0;
        background-size: auto 100vh;
    }

    #landingPageContent {
        width: 100vh;
    }

    #landingPageHeader {
        font-family: "Orbitron", sans-serif !important;
        color: white;
        font-weight: 600;
        font-size: 20px;
        margin: 30px 0;
    }

    #landingPageText {
        font-size: 10px;
    }
}

#avatarGif {
    width: 500px;
    padding-top: 50px;
    padding-bottom: 30px;
}

#avatar {
    padding-top: 80px;
}

@media screen and (max-width: 600px) {
    #avatarGif {
        width: 250px;
    }
}

#driftopiaContainer {
    padding: 0;
    margin-top: 80px;
    position: relative;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url("../assets//images//driftopia.png");
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 56.25%;
}

#driftopiaContent {
    margin-left: 300px;
    padding-top: 150px;
}


@media screen and (max-width: 600px) {

    #driftopiaContainer {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../assets//images//driftopia.png");
        position: relative;
        height: 100vh;
        padding-bottom: 0;
        background-size: auto 100vh;
        text-align: center;
    }
    
    #driftopiaContent {
        margin-left: 0;
        padding-top: 50px;
    }
}

#menuBar {
    z-index: 1;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #121212;
    color: white;
    line-height: 80px;
    font-family: "Montserrat";
    font-weight: 600;
    border-bottom: #272727 1px solid;
}

#menuBar a {
    margin: 0 10px;
    cursor: pointer;
    color: white;
}

#menuBar a:hover {
    color: #1976d2;
}

#menuRight {
    margin-left: auto;
    margin-right: 20px;
}

#menuLogo {
    padding: 20px 0;
    margin-left: 20px;
    margin-right: 10px;
}

#textLogo {
    font-size: 20px;
    font-family: "Orbitron";
    padding-left: 0;
    padding-right: 10px;
}

#textLogo:hover {
    color: white !important;
}

.customButtonGrid {
    padding: 0 0 20px 0 !important;
}

#whitepaperButton {
    margin: 20px 0px;
}

#smartContractContainer {
    margin: 20vh;
}

#mintCostSpread {
    background-color: rgba(0, 0, 0, 0.5);
}

#customContainer {
    padding: 80px 0 0 0;
}

#overlayContainer {
    background-color: #25262c;
    border-radius: 0.5em;
    padding: 50px 0;
}

.customSubheader {
    font-family: "Orbitron", sans-serif !important;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
    padding: 10px 0 25px 0;
}
.customText {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 200;
    font-style: normal;
    font-size: 1.25em;
    padding: 5px 0px;
}

.customTeamMemberName {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
    padding: 20px 0 5px 0;
    color: #1c9df2;
}

.customStatistic {
    color: #1c9df2 !important;
    font-size: 1.25em;
    letter-spacing: 0.1em;
    padding: 5px;
}

.teamMemberName {
    font-family: "neue-haas-grotesk-display", sans-serif !important;
    color: #f2711c !important;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase !important;
    margin-top: 5px;
}
.teamMemberTitle {
    font-family: "neue-haas-grotesk-display", sans-serif !important;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    margin: 5px 0 5px 0;
    font-weight: bold;
}

.teamMemberText {
    font-family: "neue-haas-grotesk-display", sans-serif !important;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    margin: 5px 0 5px 0;
}

.teamMemberDescription {
    font-size: 0.6em;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
}

.feedback {
    letter-spacing: 0.1em;
    color: #1c9df2;
    margin-bottom: 20px;
}

.teamMember {
    padding: 20px 0 20px 0;
}

.dividerSpacing {
    padding: 50px 0;
}

#footer {
    padding: 150px 0 100px 0;
}
