.ui {
    font-family: 'good-times', sans-serif !important;
    font-weight: 200;
    font-style: normal;

    /* font-family: "Montserrat" !important; */
    color: #CCCCCC !important;
}

body{
    /* background-image: url('../assets//images//village.jpg'); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: #121212;
}

#welcomeToDriftopia{
    font-family: 'good-times', sans-serif !important;
    font-weight: 600;
    font-style: normal;
    font-size: 3em;
    padding: 20px 0 30px 0;
}

#welcomeToDriftopiaText{
    font-family: 'neue-haas-grotesk-display',sans-serif !important;
    font-weight: 200;
    font-style: normal;
    font-size: 1.25em;
    padding: 20px 0px;
}

#whitepaperButton{
    margin: 20px 0px;
}

#smartContractContainer{
    margin: 20vh;
}

#mintCostSpread{
    background-color: rgba(0, 0, 0, 0.5);
}

#customContainer{
    padding: 80px 0px;
}

#overlayContainer{
    background-color: #25262C;
    border-radius: .5em;
    padding: 50px 0;
}


.customSubheader{
    font-family: 'good-times', sans-serif !important;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
    padding: 10px 0 10px 0;
}
.customText{
    font-family: 'neue-haas-grotesk-display',sans-serif !important;
    font-weight: 200;
    font-style: normal;
    font-size: 1.25em;
    padding: 5px 0px;
}

.customHeader{
    font-weight: 100 !important;
    color:#F2711C !important;
    padding-bottom: 20px;
    text-transform: uppercase !important;
}

.customSubheaderSmall{
    color: #1C9DF2 !important;
    text-transform: uppercase !important;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 1em;
    letter-spacing: .1em;
}

.darkCard{
    color:#E3E3E3;
    background-color: #121212;
    min-height: 250px;
    border-radius: .3em;
    padding:5px;
}

.darkCard:hover{
    background-color: #2C2C2C;
}

.darkCard .title{
    letter-spacing: .1em;
    font-size: 1em;
    padding-top: 15px;
    text-transform: uppercase !important;
    color: #1C9DF2 !important;

}

.darkCard .text{
    padding:20px;
}

.customStatistic{
    color: #1C9DF2 !important;
    font-size: 1.25em;
    letter-spacing: .1em;
    padding: 5px;;
}

.teamMemberName{
    color: #F2711C !important;
    font-size: 1em;
    letter-spacing: .1em;
    text-transform: uppercase !important;
    margin-top: 5px;

}
.teamMemberTitle{
    color: #1C9DF2 !important;
    font-size: .6em;
    letter-spacing: .1em;
    margin-bottom: 5px;
}
.teamMemberDescription{
    font-size: .6em;
    letter-spacing: .1em;
    margin-bottom: 5px;
}


.feedback{
    letter-spacing: .1em;
    color:#1C9DF2;
    margin-bottom: 20px;
}

/* Timeline CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
